body {
  background-color: #111;
  font-family: Arial, sans-serif;
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
  z-index: 15;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: #333;
 
}